* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
}

body {
    font-family: helvetica, sans-serif;
    background-color: #d3d3d3;
    min-width: 455px;
    min-height: 95vh;
    display: flex;
    flex-direction: column;

}

/*** General *****/
.hide {
    display: none;
}

/**** Header ****/
header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 1rem 1rem 0;
    margin-bottom: 0.6rem;
    flex-grow: 0;
}

header>* {
    flex-shrink: 0;
}

.current-date {
    margin-left: 7rem;
}

.current-date>* {
    color: #326aa7;
    font-weight: bold;
    font-size: 2rem;
    margin-right: 0.4rem;
    cursor: default;
}

.current-day {
    font-size: 4.5rem;
}

.current-month {
    text-transform: uppercase;
}

.current-year {
    color: #5d5e60;
    font-weight: lighter;
}

.change-month select {
    font-size: 1.4rem;
}

.change-month {
    user-select: none;
    -moz-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.displayed-month-title select {
    text-transform: uppercase;
    color: #326aa7;
    font-weight: bold;
    margin: 0 0.2rem;
    background-color: #d3d3d3;

}

.displayed-year-title select {
    color: #5d5e60;
    background-color: #d3d3d3;
    outline: none;
}

.my-arrow-icon {
    cursor: pointer;
    padding: 0.2rem;
    color: #5d5e60;
}

.my-arrow-icon:hover {
    color: black;
    border-radius: 50%;
}

.select-month {
    border: none;
    outline: none;
    cursor: pointer;
}

.select-month>option {
    font-size: 1rem;
    color: black;
    text-transform: uppercase;
}

/***** LAYOUT ******/
.calendar-container {
    flex-grow: 1;
    width: 100%;
    display: flex;
}

.calendar-menu {
    margin: 0 0.6rem;
}

.calendar {
    width: 100%;
    margin-right: 1rem;
}

/**** calendar menu ****/
.btn-add-event {
    border: none;
    outline: none;
    color: #5d5e60;
    background-color: #d3d3d3;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    text-transform: uppercase;
    cursor: pointer;
    border: 1px solid #5d5e60;
    border-radius: 2.5rem;
    box-shadow: 8px 10px 1rem -10px #5d5e60;
    padding: 0 0.5rem;
    margin-bottom: 2rem;
    transition: all 0.3s;
}

.btn-add-event:hover {
    box-shadow: 0 0 1rem #5d5e60;
}

.btn-add-event>.plus-sign {
    margin-right: 0.2rem;
    font-weight: bolder;
    font-size: 3rem;
    color: #ff6d5d;
}

.events-type>h2 {
    font-size: 1.2rem;
    color: #5d5e60;
    margin-bottom: 0.4rem;
}

.events-type li {
    color: #5d5e60;
}

/**** Types checkboxes *****/
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1.2rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*transform: scale(0.7,0.7);*/
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    transform: scale(0.7,0.7);

}

.checkmark.study {
    outline: 2px solid #c936ce;

}

.checkmark.personal {
    outline: 2px solid #36ce4f;
}

.checkmark.meeting {
    outline: 2px solid #ce9936;

}

.checkmark.none {
    outline: 2px solid #367fce;

}

/* On mouse-over, add a grey background color */
.container:hover input~.checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked~.checkmark.study {
    background-color: #c936ce;
}

.container input:checked~.checkmark.personal {
    background-color: #36ce4f;
}

.container input:checked~.checkmark.meeting {
    background-color: #ce9936;
}

.container input:checked~.checkmark.none {
    background-color: #367fce;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/**** Days****/
.month {
    height: 80vh;
    display: flex;
    flex-direction: column;
    box-shadow: 8px 10px 1rem #5d5e60;
}

.month.hide {
    display: none;
}

.week:first-child,
.week:nth-child(2) {
    height: auto;
}

.week {
    width: 100%;
    display: flex;
    height: 100%;
}

.week>li {
    border: 1px solid #d3d3d3;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.week:last-child>li {
    border-bottom: none;
}

ul.day-names {
    margin-bottom: 0.1rem;
}

.day-names>li {

    background-color: #7099c5;
    color: white;
    text-align: center;
    font-weight: lighter;
    padding: 0.2rem;
    text-transform: uppercase;
    cursor: default;
}

.day-names>li:last-child {
    background-color: #ff6d5d;
}

.days>li {
    background-color: #f2f2f2;
}

.days>li:last-child>.day-number {
    color: #ff6d5d;
}

li.day-other-month {
    background-color: #e6e6e6;
    box-shadow: inset 0 0 1rem -3px rgb(36, 35, 35);
}

li.day-other-month:last-child>.day-number {
    color: #f0c2c6;
}

.day-other-month>.day-number {
    color: #c7c7c7;
}

.day-number {
    position: relative;
    margin: 0.4rem;
    margin-bottom: 0.8rem;
    color: #646464;
    font-weight: lighter;
    user-select: none;
    -moz-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.week>li.today-container {
    position: relative;
    overflow: visible;
}

.today {
    position: absolute;
    background-color: #f2f2f2;
    box-shadow: 0px 0 1rem 0.4rem #d3d3d3;
    top: calc(0px - 5%);
    left: calc(0px - 5%);
    width: calc(100% + 10%);
    height: calc(100% + 10%);
    z-index: 5;
}

.week>li:hover .shortcut-add {
    visibility: visible;
}

.shortcut-add {
    cursor: pointer;
    font-weight: 900;
    background-color: #d3d3d3;
    right: 0;
    width: 1.8rem;
    position: absolute;
    text-align: center;
    color: #b6b6b6;
    display: inline-flex;
    justify-content: center;
    visibility: hidden;
}

.shortcut-add:before {
    transform: scale(1.6, 1.6);
    content: "+";
    position: relative;
}

.shortcut-add:after {
    position: absolute;
    right: 0;
    left: 0;
    top: 100%;
    content: "";
    border: 0.9rem solid transparent;
    border-top: 0.9rem solid #d3d3d3;
}

.event {
    font-weight: 700;
}

.event-time {
    font-weight: 100;
}

.more-events {
    white-space: nowrap;
    margin-left: 0.4rem;
    text-transform: lowercase;
    font-weight: 900;
    font-size: 0.8rem;

}

/******/
.modals.hide {
    display: none;
}

.modals>div.hide {
    display: none;
}

.modals {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.add-event-modal {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 50vh;
    transform: translate(0, -50%);
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
}

.add-event-modal select,
.add-event-modal label,
.add-event-modal textarea,
.add-event-modal [name="event-title"] {
    display: block;
}

.add-event-modal select.hide,
.add-event-modal label.hide {
    display: none;
}

.add-event-modal [name="event-title"] {
    font-size: 1.6rem;

}

.add-event-modal textarea {
    margin-bottom: 1rem;
}

.add-event-modal input {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    border: none;
    outline: none;
    border-bottom: 1px solid #5d5e60;
    color: #5d5e60;
    transition: all 0.7s;
}

.add-event-modal input:focus {
    border-color: #367fce;

}

.add-event-modal select {
    margin-bottom: 1rem;
    font-size: 1.4rem;
    color: #5d5e60;
}

.add-event-modal label {
    color: #5d5e60;
    font-size: 1.2rem;
}

.btn-close-modal {
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    width: fit-content;
    color: balck;
    font-weight: bolder;
    font-size: 1.6rem;
    transform: scale(1.25, 1);
    color: #5d5e60;
}

.btn-close-modal:hover {
    color: black;
}

.form-buttons {
    display: flex;
    justify-content: space-around;
}

.form-buttons>button {
    cursor: pointer;
    padding: 0.2rem;
    width: 30%;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 1rem;
    margin-top: 1rem;
    color: #5d5e60;
    transition: all 0.7s;
}

.form-buttons>button:hover {
    color: black;
}

.form-buttons>button:first-child {
    background-color: #7099c5;
}

.form-buttons>button:first-child:hover {
    background-color: #367fce;
}

.form-buttons>button:last-child {
    background-color: #ff6d5d;
}

.form-buttons>button:last-child:hover {
    background-color: #fb4733;
}

.event-form .fa-exclamation {
    float: left;
    font-size: 1.6rem;
    color: red;
    width: 1.6rem;
    position: relative;
    top: 5px;
}

.event-form .fa-exclamation.hide {
    visibility: hidden;
}

.none-required {
    margin-left: 1.6rem;
}

.initial-date {
    width: fit-content;
}

.select-date-container>label {
    display: block;
}

/**** Events ******/
.event-container {
    user-select: none;
    -moz-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-user-select: none;
   
}

.event {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 10%;
    padding-left: 1.4rem;
    position: relative;
    cursor:pointer;
}

.event:hover {
    background-color: #d3d3d3;
}

.event:before {
    content: "";
    position: absolute;
    height: 0.6rem;
    width: 0.6rem;
    background-color: #367fce;
    top: 50%;
    left: 0.4rem;
    transform: translate(0, -50%);
    border-radius: 50%;
}

.expired.event:before {
    background-color: #699ace;
}
.expired.event.personal:before {
    background-color: #6bca7b;
}

.expired.event.meeting:before {
    background-color: #d1ab66;
}

.expired.event.study:before {
    background-color: #c965cc;
}
.event.personal:before {
    background-color: #36ce4f;
}

.event.meeting:before {
    background-color: #ce9936;
}

.event.study:before {
    background-color: #c936ce;
}

.event.expired {
    color: #c7c7c7;
}

/**** Warning box *****/
.warning-box, .single-event, .day-events{
    z-index:10;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color:white;
    box-shadow: 0 0 1rem grey;
    padding:1rem;
    border-radius:1rem;
    min-width:450px;
    padding-right:5rem;
    max-height:500px;
    overflow-y:auto;
}

.single-event{
    padding:1rem;
    padding-bottom:2.5rem;
}

.warning-box > .title{
    margin-bottom: 1rem;
}
.warning-box .time-ago{
    position:absolute;
    right:0;
    top:0.1rem;
    transform: translate(100%,0);
    padding:0;
    
    text-align:center;
    font-weight:700;
}


.expired-events-container{
    
}

/***** Display event info ******/
.event-box{
    border-bottom:1px solid grey;
    margin-bottom:1rem;
    position:relative;
}
.event-box:last-child{
    border:none;
}
.event-box *{
    color: #646464;
}
.event-box .title-event{
    font-weight:700;
    font-size:1.5rem;
    position:relative;
    color:black;
}
.event-box .description{
    word-break: break-all;
}
.title-event ~ *, .title-event{
    padding-left: 1.5rem;
}

.title-event:before{
    position:absolute;
    top:50%;
    left:0;
    transform: translate(0,-50%);
    width: 1rem;
    height:1rem;
    content:"";
}
.warning-box .title-event:before{
    background-color:red;
}
.event-box .date{
    font-size:0.8rem;
}
.event-box .subtitle{
    font-size:1rem;
    font-weight: 700;
}

/****** Single event *****/
.single-event .title-event:before, .day-events .title-event:before{
    background-color:#326aa7;
}
.single-event .study.title-event:before, .day-events .study.title-event:before{
    background-color: #c936ce;
}
.single-event .personal.title-event:before, .day-events .personal.title-event:before{
    background-color: #36ce4f;
}
.single-event .meeting.title-event:before, .day-events .meeting.title-event:before{
    background-color: #ce9936;
}
.single-event .btn-close-modal{
    z-index:2;
}

.single-event .btn-delete-event{
    position:absolute;
    bottom:1rem;
    left:50%;
    transform: translate(-50%,0);
    font-size:1rem;
    padding:0.5rem;
    border-radius:1rem;
    outline:none;
    color:#ff6d5d;
    background-color:#d3d3d3;
    cursor:pointer;
    transition: all 0.3s;
    border:none;
    text-transform: uppercase;
    font-weight:700;

}
.single-event .btn-delete-event:hover{
    box-shadow: 0 5px 1rem #d3d3d3;
}


/****** Day events *****/
.day-events{

}

/****** rubish bin ******/
.rubbish-bin{
    display:block;
    width:2.4rem;
    padding:0.2rem;
    position:absolute;
    top:1rem;
    transform: translate(100%,0);
    right:0;
    cursor:pointer;
    border-radius:0.2rem;
    transition: all 0.3s;
    background-color: white;
}
.rubbish-bin:hover{
    background-color:#d3d3d3;
}
.single-event .rubbish-bin{
    top:100%;
    right:50%;
    transform: translate(-50%,0);
}
/**  fancy**/

/*
.calendar{
    perspective:600px;
    width:100%;
    margin-right:1rem;

}
.month{
    position:relative;
    transform-style: preserve-3d;
    transform: rotatex(0deg);
    transform-origin: top center;
}
.month-back{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-color:#d3d3d3;
    transform: translateZ(-1px);
    opacity:0.7;
}

*/
.short-day-names {
    display: none;
}

@media screen and (max-width: 960px) {
    ul.long-day-names {
        display: none;
    }

    ul.short-day-names {
        display: flex;
    }
}

@media screen and (max-width: 770px) {
    header {
        flex-direction: column;
    }

    .change-month {
        margin-left: 7rem;
    }
}

@media screen and (max-width: 660px),
(max-height: 660px) {
    .shortcut-add {
        width: 1.2rem;
    }

    .shortcut-add:before {
        font-size: 0.8rem;
    }

    .shortcut-add:after {
        border: 0.6rem solid transparent;
        border-top: 0.6rem solid #d3d3d3;
    }
}