*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
ul{
    list-style-type:none;
}
body{
    font-family:helvetica,sans-serif;
    background-color:#d3d3d3;
    min-width:500px;
    min-height: 95vh;
    display:flex;
    flex-direction:column;

}

/*** General *****/
.hide{
    display:none;
}

/**** Header ****/
header{
    display:flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 1rem 1rem 0;
    margin-bottom:0.6rem;
    flex-grow:0;
}
header > *{
    flex-shrink:0;
}
.current-date{
    margin-left:7rem;
}
.current-date > *{
    color: #326aa7;
    font-weight:bold;
    font-size:2rem;
    margin-right:0.4rem;
    cursor: default;
    
}
.current-day{
    font-size: 4.5rem;
}
.current-year{
    color:#5d5e60;
    font-weight:lighter;
}
.change-month select{
    font-size: 1.4rem;
}

.displayed-month-title select{
    text-transform: uppercase;
    color: #326aa7;
    font-weight:bold;
    margin: 0 0.2rem;
    background-color:#d3d3d3;

}

.displayed-year-title select{
    color:#5d5e60;
    background-color:#d3d3d3;
    outline:none;
}

.my-arrow-icon{
    cursor:pointer;
    padding:0.2rem;
    color:#5d5e60;
}
.my-arrow-icon:hover{
    color:black;
    border-radius: 50%;
}
.select-month{
    border:none;
    outline:none;
    cursor:pointer;
}
.select-month > option{
    font-size:1rem;
    color:black;
    text-transform:uppercase;
}
/***** LAYOUT ******/
.calendar-container{
    flex-grow:1;
    width:100%;
    display:flex;
}
.calendar-menu{
    margin: 0 0.6rem;
}
.calendar{
    width:100%;
    margin-right:1rem;
}
/**** calendar menu ****/
.btn-add-event{
    border: none;
    outline:none;
    color:#5d5e60;
    background-color:#d3d3d3;
    display:flex;
    align-items:center;
    font-size: 1.2rem;
    text-transform: uppercase;

}
.btn-add-event > .plus-sign{
    margin-right:0.2rem;
    font-weight: bolder;
    font-size:3.5rem;
    color:#ff6d5d;
}

.events-type > h2{
    font-size:1.2rem;
    color:#5d5e60;
    margin-bottom:0.4rem;
}
.events-type li{
    color:#5d5e60;
}
/**** Days****/
.month{
    height:80vh;
    display:flex;
    flex-direction:column;
}
.month.hide{
    display:none;
}
.week{
    width:100%;
    display:flex;
    flex-grow:1;
}

.week > li{
    border: 1px solid #d3d3d3;
    width:100%;
    text-overflow:ellipsis;
    overflow:hidden;
}
ul.day-names{
    margin-bottom:0.1rem;
    flex-grow:0;
   
}
.day-names >li{
 
    background-color: #7099c5;
    color:white;
    text-align:center;
    font-weight:lighter;
    padding:0.2rem;
    text-transform: uppercase;
    cursor: default;
}
.day-names >li:last-child{
    background-color:#ff6d5d;
}
.days > li{
    background-color: #f2f2f2;
}
.days > li:last-child > .day-number{
    color:#ff6d5d;
}

li.day-other-month{
    background-color: #e6e6e6;
    box-shadow: inset 0 0 1rem -3px rgb(36, 35, 35);
}
li.day-other-month:last-child > .day-number{
    color:#f0c2c6;
}
.day-other-month > .day-number {
    color: #c7c7c7;
}

.day-number {
    margin:0.4rem;
    color: #646464;
    font-weight:lighter;
    user-select:none;
    -moz-user-select:none;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -ms-user-select:none;
}


/******/
.modals.hide{
    display:none;
}
.modals > div.hide{
    display:none;
}
.modals{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.6);
    z-index:10;
    display:flex;
    align-items:flex-start;
    justify-content:center;
}

.add-event-modal{
    display:flex;
    flex-direction: column;
    position:relative;
    top:50vh;
    transform: translate(0,-50%);
    background-color:white;
    padding:2rem;
    border-radius: 1rem;
}

.add-event-modal select, .add-event-modal textarea, .add-event-modal [name="event-title"]{
    display:block;
}
.add-event-modal [name="event-title"]{
    font-size: 1.6rem;

}
.add-event-modal textarea{
    margin-bottom:1rem;
}
.add-event-modal input {
    margin-bottom:1rem;
    font-size: 1.2rem;
    border:none;
    outline:none;
    border-bottom: 1px solid #5d5e60;
    color:#5d5e60;
    transition: all 0.7s;
}
.add-event-modal input:focus{
    border-color:#367fce;

}
.add-event-modal select {
    margin-bottom: 1rem;
    font-size: 1.4rem;
    color:#5d5e60;
}
.add-event-modal label{
    color:#5d5e60;
    font-size:1.2rem;
}
.btn-close-modal{
    cursor:pointer;
    background-color:transparent;
    border:none;
    outline:none;
    position:absolute;
    right:0.5rem;
    top: 0.5rem;
    width:fit-content;
    color:balck;
    font-weight:bolder;
    font-size:1.6rem;
    transform: scale(1.25,1);
    color:#5d5e60;
}
.btn-close-modal:hover{
    color:black;
}
.form-buttons{
    display:flex;
    justify-content:space-around;
}
.form-buttons > button{
    cursor:pointer;
    padding:0.2rem;
    width:30%;
    padding: 1rem;
    font-size:1.2rem;
    font-weight:bold;
    border:none;
    outline:none;
    border-radius:1rem;
    margin-top:1rem;
    color:#5d5e60;
    transition: all 0.7s;
}
.form-buttons > button:hover{
    color:black;
}
.form-buttons > button:first-child{
    background-color: #7099c5;
}
.form-buttons > button:first-child:hover{
    background-color: #367fce;
}
.form-buttons > button:last-child{
    background-color:#ff6d5d;
}
.form-buttons > button:last-child:hover{
    background-color:#fb4733;
}


.initial-date{
    width:fit-content;
}
.select-date-container > label{
    display:block;
}

/**  fancy**/

/*
.calendar{
    perspective:600px;
    width:100%;
    margin-right:1rem;

}
.month{
    position:relative;
    transform-style: preserve-3d;
    transform: rotatex(0deg);
    transform-origin: top center;
}
.month-back{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-color:#d3d3d3;
    transform: translateZ(-1px);
    opacity:0.7;
}

*/
.short-day-names{
    display:none;
}
@media screen and (max-width: 960px){
    ul.long-day-names{
        display:none;
    }
    ul.short-day-names{
        display:flex;
    }
}
@media screen and (max-width: 700px){
    header{
        flex-direction:column;
    }
    .change-month{
        margin-left:7rem;
    }

}